//index

@media (max-width: 600px){
    #header {
        
     background-color: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
   
    #logo 
    { width: 20px;
      height: 20px;
    
     }
      
        nav {  
             ul {
                list-style-type: $no-style;
                display: $display-flex;
                align-items: center;
                justify-content: space-around;

                li { margin: 2px;
                    

                    a  {        text-decoration: $no-style;
                                color: $color-principal; 
                                font-size: 10px;
                                display: $display-flex;
                        }

                    }      
                }
            }
    }
}

@media (max-width: 600px) {
    #carouselExampleCaptions {
         width: 300px;
        margin-top: 70px;
        margin-bottom: 1px;
        margin-left: 35px ;
        display: $display-flex ;
        }}


@media (max-width: 600px){
    #card {
        width: 5px;
        margin-left: 35px ;
        }}


@media (max-width: 600px){
    #mediosdepago2 {
    font-size: 50px;
    }}
       
   

//contacto

@media (max-width: 600px){
     #contacto {
            font-size: 20px;
            margin-left: 40px;
            margin-right: 40px;
            text-align: $centrar;
        }}

 @media (max-width: 600px){
    #redes {
        font-size: 20px;
         }}        
       

//catalogo

@media (max-width: 600px){
    #buscar {
        width: 100px;
        margin-top: 10px;
        margin-left: 50px;
        }}



@media (max-width: 600px){
    .card {
        width: 80px;
        margin-top: 10px;
        }}

 //servicios 

 @media (max-width: 600px){
    #tituloservic {
        font-size: 20px;
   } }


@media (max-width: 600px){
    #evento {
        font-size: 20px;
   } }

   @media (max-width: 600px){
    .card-text {
        font-size: 10px;
   } }
    
   @media (max-width: 600px){
    #coment {
        width: 350px;
   } }
