

$color-principal:lightpink;
$color-header-footer:  rgb(99, 8, 67);
$fuente-general:'Times New Roman', Times, serif;
$display-flex :flex; 
$fuente-tamaño-enlaces :1px;
$color-tamaño-enlaces: 3px solid black;
$margin-li-header:15px;
$no-style:none;
$centrar: center; 