
#mediosdepago 
{
    background-color: black;
    font-size: 100px;
    text-align:$centrar;
    list-style-type: $no-style;
    color: $color-header-footer;
                
     ul {
        li {
               @include medios-li             
           }
         }
}
