
@import "../utilities/variables";

header 
{ 
    background-color: $color-header-footer;
    border-bottom: $color-tamaño-enlaces;
    border-top: $color-tamaño-enlaces;
    border-left: $color-tamaño-enlaces ;
    border-right: $color-tamaño-enlaces;
   
    #logo 
    { width: 100px;
      height: 100px;
     display: $display-flex;
     }
      

        nav {  
             ul {
                list-style-type: $no-style;
                display: $display-flex;
                align-items: center;
                justify-content: space-around;

                li { margin: 15px;
                    

                    a  {        text-decoration: $no-style;
                                color: $color-principal; 
                                font-size: 3.0rem;
                                display: $display-flex;
                        }

                    }      
                }
            }
            
} 
                 
